<!-- flash message -->
<flash-message></flash-message>
<!-- main heading -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">在线计划列表</h3>
        <page-loading ng-show="!vm.ready"></page-loading>
    </div>
</div>
<div class="row" ng-show="vm.ready" ng-init="vm.getData()">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">

                <div class="count-search">

                    <!-- count -->
                    <div class="count">
                        Total <span ng-bind="vm.list.length"></span> Plans
                    </div>

                    <!-- search -->
                    <div id="search">
                        <i class="material-icons i-search">search</i>
                        <input type="text" placeholder="搜索" ng-model="vm.search" ng-keydown="vm.liveSearch()" />
                    </div>

                </div>

                <!-- data table -->
                <div class="table-responsive text-center">
                    <table class="table table-striped text-center" id="dataTables-example">
                        <thead>
                        <tr>
                            <th class="text-center">计划名称</th>
                            <th class="text-center">所属资源位</th>
                            <th class="text-center">计划开始时间</th>
                            <th class="text-center">计划结束时间</th>
                            <th class="text-center">计划创建时间</th>
                            <th class="table-actions text-center">操作</th>
                        </tr>

                        </thead>
                        <tbody id="search_result">

                        <tr class="odd gradeX" ng-repeat="m in vm.list">
                                <td ng-bind="m.planName"></td>
                                <td>{{m.resource.resourceName}}</td>
                                <td ng-bind="m.startTime"></td>
                                <td ng-bind="m.endTime"></td>
                                <td ng-bind="m.created_at"></td>
                                <td class="table-actions">
                                    <a ui-sref="root.plan.edit({id: m.id })">
                                        <div class="action action-edit pull-left">
                                            <i class="material-icons action-icon">create</i>
                                        </div>
                                    </a>
                                    <a ng-click="vm.showDeleteModal(u)">
                                        <div class="action action-delete pull-left">
                                            <i class="material-icons action-icon">delete</i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div> <!-- / data table -->

            </div>
        </div>
    </div>
</div>
